@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    border: 1px solid lightgray;
}

textarea:focus, input:focus{
    outline: none;
}

textarea{
    border-radius: 8px;
    border: 1px solid lightgray;
    resize: none;
}

#home{
    display: grid;
    grid-template-columns: 300px 380px; 
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#company-div{
    margin-right: 2em;
}

.company-title{
  font-weight: 800;
  margin-bottom: 0.25em;
}

.company-description{
    font-size: 1.25em;
    word-break: break-word;
    margin-bottom: 0.25em;
}

#login-div {
    padding:2em;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.row{
    margin-bottom: 0.8em;
}


#forgot-div{
    text-align: center;
    margin-bottom: 0.8em;
}

#create-account-div{
    width: 80%;
    margin-inline: auto;
}

.divider{
    border-bottom: 1px solid lightgray;
    margin-bottom: 0.8em;
}

/* Dashboard */
#dashboard{
    margin-top: calc(60px + 0.5em);
}

#header {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-around;
    padding: 0.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#header-search{
    border-radius: 8px;
}

#header-left, 
#navbar{
    display: flex;
    align-items: center;
}

#navbar{
    margin: 0;
    padding: 0;
}

.icon{
    cursor: pointer;
    display: flex;
    background: lightgray;
    color: black;
    font-size: 1.25em;
    border-radius: 50%;
    padding: 8px;
    margin-left: 0.5em;
}

.icon:hover{
    opacity: 0.8;
}

#make-post {
    padding: 0.5em;
    border: 1px solid lightgray;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#make-post-upper{
    display: grid;
    gap: 0.5em; 
    grid-template-columns: 60px auto;
    margin-bottom: 0.25em;
}

#make-post-lower{
    display: flex; 
    justify-content: flex-end;
}

.pic-div{
    display: flex;
    align-items: center;
    
}

#friends-book-logo, 
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-inline: 0.8em;
}


@media(max-width: 695px) {
    #home {
        width: 80%;
        margin-inline: auto;
        grid-template-columns: auto;
    }

    #login-div{
        align-self: start;
    }

    .company-title, .company-description {
        text-align: center;
    }

    #company-div{
        align-self: end;
        margin: 0.8em 0 0.8em 0;
        margin-right: 0;
    }
}